#top-story {
    .card {
        border: none;

        .img {
            height: 35%;
            width: 100%;
            position: relative;

            img {
                width: 100%;
            }

            span {
                background: rgba(255,255,255, 0.9);
                text-transform: uppercase;
                padding: 5px 10px;
                font-weight: 700;
                font-family: "Roboto Condensed", sans-serif;
                font-size: .8em;;
                color: red;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        
    }

    .card-body {
        h3 {
            font-size: 1.3em;
            font-weight: 600;
        }

        p {
            font-size: .8em;
        }
    }
}

