.category {
    border-top: 1px solid lightgray;

    header h2 {
        color: red;
        font-size: 1.2em;
        margin-top: 20px;
    }

    .flex-row {

        h3 {

            &:hover {
                color: red;
                text-decoration: none;
            }
        }
        img {
            padding-bottom: 15px;
        }

        border-bottom: 1px solid lightgray;
        border-top: none;
    
        &:last-of-type {
            border-bottom: none;
        }
    }

    .flex-row.card {
        padding-top: 0;
    }

    
}

