header .nav {
    list-style: none;
    z-index: 99;
    width: 100%;
    margin-bottom: 1rem;
    background: red;
    color: white;
    position: fixed;

    li {
        padding: 0 10px;
        text-transform: uppercase;
    }

    .navbar-brand {
        margin-right: auto;
        text-transform: none;
    }
    
}


.navbar-toggler-icon {
    background-image: none;
}
