header nav {
  background: red;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 99;

  .navbar {
    padding: 5px;

    .navbar-brand {
      margin-right: auto;
      text-transform: none;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-weight: 900;
      font-size: 1.5em;
    }

    .subscribe {
      background: whitesmoke;
      color: red;
      padding-left: 10px;
      padding-right: 10px;

      &:after {
        content: ">";
        margin-left: 10px;
      }
    }
  }

  li {
    text-transform: uppercase;
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .fa-bars {
    color: #fb9a94;

  }
}

.navbar-collapse {
    background: whitesmoke;
    color: black;
    position: absolute;
    top: 100%;
    right: 0;
    width: 45%;
    height: 100vh;
    
    .nav {
        flex-direction: column;
        border-left: gray;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            margin-left: 0;
            
    
            &:after {
                content: '>';
                font-weight: 900;
    
            }

            &:hover {
                background: black;
                color: white;
                &:after {
                    color: red;
                }
            }
            
        }

        li:first-of-type{
            &:after {
                content: '';
            }

            &:hover {
                background: none;
    
            }
        }
        

        #search input {
            border: none;
            background: whitesmoke;

            &:focus {
                outline: none;
            }
        }

    }
}

        
    

