#in-magazine .card {
    img {
        height: 60%;
        width: 100%;
    }

    h3 {
        font-size: 1em;
        font-weight: 600;
        margin-top: 5px;
    }

    a {
        padding: 5px;
        text-transform: uppercase;
        color: red;
        font-weight: 600;
        margin-left: 0;
    }

    a.disabled {
        background: red;
        color: white;
    }

    &:last-of-type {
        span {
            color: white;
            background: red;
        }

        a {
            color: black;
            &:hover {
                color: red;
            }
        }
    }

}

.card-body.bg-light {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    
    h2 {
        font-size: 1.2em;
    }
}

#in-magazine, #newsweek-conversations, #editor-picks, #featured-slideshows {
    header{
        margin-top: 10px;
        text-align: center;

        h2 {
            display: flex;
            font-size: 1.2em;
            color: black;
            justify-content: center;
            align-items: center;
        }

        span {
            display: inline-block;
            height: 29px;
            width: 28px;
            margin-right: 10px;
            background: url("https://g.newsweek.com/www/images/logo-n1.svg") center/contain no-repeat #f72210;
        }
    }
}