header nav {
  background: red;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 99; }
  header nav .nav {
    flex-wrap: nowrap;
    padding: 5px; }
  header nav .navbar .navbar-brand {
    margin-right: auto;
    text-transform: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    font-size: 2rem; }
  header nav .navbar .subscribe {
    background: whitesmoke;
    color: red;
    padding-left: 5px;
    padding-right: 5px; }
  header nav li {
    text-transform: uppercase;
    width: fit-content;
    font-size: .8em;
    margin-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer; }
  header nav .navbar-toggler {
    padding: 0;
    padding-left: 0; }
  header nav .fa-bars {
    font-size: 1.4em;
    color: #fb9a94; }

.navbar-collapse {
  background: whitesmoke;
  color: black;
  position: absolute;
  top: 100%;
  right: 0;
  width: 45%;
  height: 100vh; }
  .navbar-collapse .nav {
    flex-direction: column;
    border-left: gray; }
    .navbar-collapse .nav li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      margin-left: 0; }
      .navbar-collapse .nav li:after {
        content: '>';
        font-weight: 900; }
      .navbar-collapse .nav li:hover {
        background: black;
        color: white; }
        .navbar-collapse .nav li:hover:after {
          color: red; }
    .navbar-collapse .nav li:first-of-type:after {
      content: ''; }
    .navbar-collapse .nav li:first-of-type:hover {
      background: none; }
    .navbar-collapse .nav #search input {
      border: none;
      background: whitesmoke; }
      .navbar-collapse .nav #search input:focus {
        outline: none; }

footer nav {
  border-top: 1px solid gray;
  font-size: .9em;
  color: slategray; }
  footer nav li {
    padding: 8px;
    font-weight: 300; }
  footer nav li:first-of-type {
    font-weight: 600; }

footer div h1 {
  color: red; }
footer div p {
  text-transform: uppercase; }

#culture-travel {
  background: rgba(245, 245, 245, 0.89);
  width: 100%; }
  #culture-travel header h2 {
    padding: 10px 0 0 10px; }
  #culture-travel .card {
    background: rgba(245, 245, 245, 0.89);
    padding: 0; }
    #culture-travel .card h3 {
      font-size: 1.5em;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
      #culture-travel .card h3:hover {
        text-decoration: none; }
    #culture-travel .card p {
      color: gray; }
    #culture-travel .card span {
      background: #c3d4d8;
      font-size: 0.9em;
      font-weight: 100;
      color: gray; }
    @media (min-width: 768px) {
      #culture-travel .card img {
        max-height: 120px; } }

#opinion .card {
  justify-content: center;
  border-top: none;
  border-bottom: 1px solid gray; }
  #opinion .card img {
    height: 63px;
    min-width: 63px;
    padding-right: 5px; }
  #opinion .card .card-body {
    padding-top: 0;
    padding-bottom: 5px; }
    #opinion .card .card-body h3 {
      font-size: 1em; }
      #opinion .card .card-body h3:hover {
        color: red;
        text-decoration: none; }
    #opinion .card .card-body h4 {
      font-size: .8em; }
#opinion .card:last-child {
  border: none; }

.card {
  border: none; }

.flex-row.card {
  border-top: 1px solid gray;
  padding-top: 10px;
  margin-bottom: 10px; }
  .flex-row.card img {
    max-height: 160px;
    float: left; }
  .flex-row.card h3 {
    font-size: 1rem;
    font-weight: 600; }
  .flex-row.card p {
    font-size: .8rem; }
  @media (min-width: 768px) {
    .flex-row.card img {
      max-height: 100px; } }

.card .card-img {
  width: 100%;
  position: relative; }
  .card .card-img img {
    width: 100%; }
  .card .card-img span {
    background: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    padding: 5px 20px;
    color: red;
    position: absolute;
    bottom: 0; }
.card h3 {
  font-size: 1.2em;
  font-weight: 600; }
  .card h3:hover {
    text-decoration: underline;
    text-decoration-color: red; }
.card p {
  font-size: .9em; }

.category {
  border-top: 1px solid lightgray; }
  .category header h2 {
    color: red;
    font-size: 1.2em;
    margin-top: 20px; }
  .category .flex-row {
    border-bottom: 1px solid lightgray;
    border-top: none; }
    .category .flex-row h3:hover {
      color: red;
      text-decoration: none; }
    .category .flex-row img {
      padding-bottom: 15px; }
    .category .flex-row:last-of-type {
      border-bottom: none; }
  .category .flex-row.card {
    padding-top: 0; }

#in-magazine .card img {
  height: 50%;
  width: 100%; }
#in-magazine .card h3 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 5px; }
#in-magazine .card a {
  padding: 5px;
  text-transform: uppercase;
  color: red;
  font-weight: 600;
  margin-left: 0; }
#in-magazine .card a.disabled {
  background: red;
  color: white; }
#in-magazine .card:last-of-type span {
  color: white;
  background: red; }
#in-magazine .card:last-of-type a {
  color: black; }
  #in-magazine .card:last-of-type a:hover {
    color: red; }

.card-body.bg-light {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600; }
  .card-body.bg-light h2 {
    font-size: 1.2em; }

html, body {
  overflow-x: hidden; }

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif; }

section, footer {
  position: relative;
  top: 75px; }

section {
  margin-bottom: 20px; }

section header h2 {
  text-transform: uppercase;
  color: gray;
  font-size: 14px;
  font-weight: 600; }

.row.top-page {
  margin-left: 0;
  margin-right: 0; }
  .row.top-page .row {
    margin: 0; }

#top-story img {
  max-height: 300px; }

#featured-stories h3 {
  font-size: 1.2em;
  font-weight: bold; }

#latest-news .card:first-of-type {
  border-top: none; }

#in-magazine header, #newsweek-conversations header, #editor-picks header, #featured-slideshows header {
  margin-top: 10px;
  text-align: center; }
  #in-magazine header h2, #newsweek-conversations header h2, #editor-picks header h2, #featured-slideshows header h2 {
    display: flex;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    align-items: center; }
  #in-magazine header span, #newsweek-conversations header span, #editor-picks header span, #featured-slideshows header span {
    display: inline-block;
    height: 29px;
    width: 28px;
    margin-right: 10px;
    background: url("https://g.newsweek.com/www/images/logo-n1.svg") center/contain no-repeat #f72210; }

#newsweek-conversations {
  margin-left: 15px; }
  #newsweek-conversations .card {
    background: black;
    color: white;
    border-bottom: 1px solid white;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center; }
    #newsweek-conversations .card .icon {
      height: 30px;
      width: 30px;
      background: red;
      position: absolute;
      bottom: 0; }
  #newsweek-conversations .card.flex-row {
    padding-top: 0; }
    #newsweek-conversations .card.flex-row .img {
      position: relative; }

#featured-slideshows .card-img span {
  line-height: 2.3em;
  font-size: 1.2em;
  font-weight: 600;
  height: 48px;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat; }

.row.order-md-2, .row.order-md-3 {
  padding-right: 0;
  flex-direction: column; }
  .row.order-md-2 .col, .row.order-md-3 .col {
    flex-grow: 0; }

/*# sourceMappingURL=main.css.map */
