@import './scss/header.scss';
@import './scss/footer.scss';
@import './scss/culture.scss';
@import './scss/opinion.scss';
@import './scss/mediaqueries.scss';
@import './scss/variables.scss';
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';


body {
    font-family: Arial, Helvetica, sans-serif;
}

section, footer {
    position: relative;
    top: 75px;
}

section {
    margin-bottom: 20px;
}

section header h2 {
    text-transform: uppercase;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}


.card {
    border: none;  
}

.flex-row.card {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-bottom: 10px;

    img {
        max-height: 180px;
        float: left;

    }

    h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-size: .8rem;
    }
}

.card {
    .card-img {
        width: 100%;
        position: relative;

        img {
            width: 100%;
     
        }

        span {
            background: rgba(255,255,255, 0.9);
            text-transform: uppercase;
            padding: 5px 20px;
            color: red;
            position: absolute;
            bottom: 0;
        }
    }

    h3 {
        font-size: 1.2em;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
            text-decoration-color: red;
        }
    }

    p {
        font-size: .9em;
    }
}

#featured-stories {
    max-height: 2000px;
    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }
}



#latest-news {
    .card:first-of-type {
        border-top: none;
    }
}

#in-magazine, #newsweek-conversations, #editor-picks, #featured-slideshows {
    header{
        margin-top: 10px;
        text-align: center;

        h2 {
            display: flex;
            font-size: 1.2em;
            color: black;
            justify-content: center;
            align-items: center;
        }

        span {
            display: inline-block;
            height: 29px;
            width: 28px;
            margin-right: 10px;
            background: url("https://g.newsweek.com/www/images/logo-n1.svg") center/contain no-repeat #f72210;
        }
    }
}

#in-magazine .card {
    img {
        height: 50%;
        width: 100%;
    }

    h3 {
        font-size: 1em;
        font-weight: 600;
        margin-top: 5px;
    }

    a {
        padding: 5px;
        text-transform: uppercase;
        color: red;
        font-weight: 600;
        margin-left: 0;
    }

    a.disabled {
        background: red;
        color: white;
    }

    &:last-of-type {
        span {
            color: white;
            background: red;
        }

        a {
            color: black;
            &:hover {
                color: red;
            }
        }
    }

}

#newsweek-conversations {

    .card {
        background: black;
        color: white;
        border-bottom: 1px solid white;
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
    

        .icon {
            height: 30px;
            width: 30px;
            background: red;
            position: absolute;
            bottom: 0;
        }

    }

    .card.flex-row {
        padding-top: 0;

        .img {
            position: relative;

        }
    }

}

#featured-slideshows .card-img span {
    line-height: 2.3em;
    font-size: 1.2em;
    font-weight: 600;
    height: 48px;
    background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
} 

.category {
    header h2 {
        color: red;
        font-size: 1.2em;
    }

    .flex-row {

        h3 {

            &:hover {
                color: red;
                text-decoration: none;
            }
        }
        img {
            padding-bottom: 15px;
        }

        border-bottom: 1px solid lightgray;
        border-top: none;
    
    }


}


.row.order-md-2, .row.order-md-3 {
    padding-right: 0;
}