@import './scss/header.scss';
@import './scss/footer.scss';


body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    border: none;
}

section header h2 {
    text-transform: uppercase;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

.flex-row.card {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-bottom: 10px;

    img {
        max-height: 180px;
    }

    h3 {
        font-size: 1rem;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
            text-decoration-color: red;
        }
    }

    p {
        font-size: .8rem;
    }
}

#culture-travel {
    background: rgba(245, 245, 245, 0.89);
    
    header h2 {
       padding: 10px 0 0 10px;
    }

    .card {
        background: rgba(245, 245, 245, 0.89);

        h3 {
            font-size: 1.5em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        p {
            color: gray;
        }

        span {
            background: #c3d4d8;
            font-size: .9em;
            font-weight: 100;
            color: gray;
        }
    }
    
}
