@import './scss/header.scss';
@import './scss/footer.scss';
@import './scss/culture.scss';


body {
    font-family: Arial, Helvetica, sans-serif;
}

section, footer {
    position: relative;
    top: 60px;
}

section {
    margin-bottom: 20px;
}

section header h2 {
    text-transform: uppercase;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

.card {
    border: none;
    
}

.flex-row.card {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-bottom: 10px;

    img {
        max-height: 180px;
    }

    h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-size: .8rem;
    }
}

.card {
    .card-img {
        width: 100%;
        position: relative;

        img {
            width: 100%;
     
        }

        span {
            background: rgba(255,255,255, 0.6);
            text-transform: uppercase;
            padding: 5px 20px;
            color: red;
            position: absolute;
            bottom: 0;
        }
    }
}

#featured-stories {
    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

#opinion {
    .card {
        justify-content: center;
        border-top: none;
        border-bottom: 1px solid gray;

        img {
            height: 63px;
            min-width: 63px;
            padding-right: 5px;
        }
        
        .card-body {
            padding-top: 0;
            padding-bottom: 5px;

            h3 {
                font-size: 1em;
                &:hover {
                    color: red;
                }
            }
            h4 {
                font-size: .8em;
            }
        }
    }

    .card:last-child {
        border: none;
    }
    
}

#latest-news {
    .card:first-of-type {
        border-top: none;
    }
}
